<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Leverage our deep industry expertise to drive your business forward—experience software development that delivers not just results, but a competitive edge.
      </p>
    </div>
  </div>
</section>
